/**
 * HTS Default Style File
 */

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: default;
}

.panel-dashboard, .panel-dashboard>.panel {
  height: 200px;
  max-height: 200px;
  overflow: hidden;
}

/*
  BOOTSTRAP CLASS OVERRIDES
 */

.row {
  margin: 0;
}

p#footer_text {
  margin: 0;
}

/*
  DATAGRID STYLE
*/

.table > thead > tr > th {
    vertical-align: middle;
}

.margin-bottom-basic {
    margin-bottom: 15px;
}

.pagination {
    margin: 0;
}

.items-per-page {
    margin-left: 15px;
}

.sortable:after {
    font: 14px/1 FontAwesome;
    content: "\f0dc";
}

.sortable.sort-ascent:after {
    content: '\f0de';
    vertical-align: bottom;
}

.sortable.sort-descent:after {
    content: "\f0dd";
    vertical-align: top;
}
