/**
 * HTS Default Style File
 */

*::selection {
  color: rgb(251, 255, 203);
  background-color: rgb(138, 176, 224);
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
}

p, ol > li {
  font-size: 16px;
}

.table > *,
.panel > *,
p, span, i, ol > li,
h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

.glyphicon {
  cursor: inherit;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.wait {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('../images/loading.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
  the scrollbar off with overflow:hidden */

.loading {
   overflow: hidden;
}

/* Anytime the body has the loading class, our
  modal element will be visible */

.loading .wait {
   display: block;
}

.panel-dashboard,
.panel-dashboard >
.panel {
  height: 200px;
  max-height: 200px;
  overflow: hidden;
}

.info_panel_container > .panel-info {
  overflow-y: visible;
}

table.table-condensed {
  font-size:12px;
}

.text-h3 {
  color: rgb(56, 142, 62);
}

#menu_left {
  margin: 0;
}

#menu_left > a.list-group-item {
  border-radius: 0;
}

#menu_left > a.active {
  color: white;
}

#container_menu_left_chevron {
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 15px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

#container_menu_left_chevron > span {
  margin: auto;
}

/*
  BOOTSTRAP CLASS OVERRIDES
 */

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -15px;
  margin-right: -15px;
}

.input-group {
  margin-bottom: 5px;
}

.row {
  margin: 0;
}

p#footer_text {
  margin: 0;
}
