/**
 * HTS Default Style File
 */

  .table > *, .panel > *, p, span, i {
    cursor: default;
  }

  .glyphicon {
    cursor: inherit;
  }

  body {
    background-color: rgba(244, 245, 252, 0.1);
  }

  /* Start by setting display:none to make this hidden.
     Then we position it in relation to the viewport window
     with position:fixed. Width, height, top and left speak
     for themselves. Background we set to 80% white with
     our animation centered, and no-repeating */

  .wait {
      display: none;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba( 255, 255, 255, .8) url('../images/loading.gif') 50% 50% no-repeat;
  }

 /* When the body has the loading class, we turn
    the scrollbar off with overflow:hidden */

 body.loading {
     overflow: hidden;
 }

 /* Anytime the body has the loading class, our
    modal element will be visible */

 body.loading .wait {
     display: block;
 }

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: default;
}

.panel-dashboard,
.panel-dashboard >
.panel {
  height: 200px;
  max-height: 200px;
  overflow: hidden;
}

/*
  BOOTSTRAP CLASS OVERRIDES
 */

.row {
  margin: 0;
}

.input-group {
  margin-bottom: 5px;
}

p#footer_text {
  margin: 0;
}
